.btn-create {
    background: #2d7ff9;
    border-radius: 8px;
    padding: 9px 15px;
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
        margin: 0;
        padding-left: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
    }
}
