// common modal css
.ant-modal-content {
    border-radius: 20px !important;
    overflow: hidden;
    .ant-modal-header {
        .ant-modal-title {
            padding-top: 10px;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.05em;
        }
    }
    .ant-modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
// spread modal css
// delete type user modal
.modal-delete-type-user {
    &__body {
        margin: 0 auto;
        p {
            font-size: 16px;
            line-height: 20px;
            color: #404b50;
            span {
                font-size: 16px;
                color: red;
            }
        }
        .btn-control {
            margin: 30px auto 0;
            display: flex;
            justify-content: center;
        }
    }
}
// modal-delete-user
.modal-delete-user {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.05em;
            color: #404b50;
            margin: 10px 0;
        }
        .des {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.05em;
            color: #404b50;
        }
    }
}
// modal-confirm-change-pass
.modal-confirm-change-pass {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input-pass {
        margin-top: 15px;
    }
    .btn-control {
        margin: 15px auto;
    }
}
// modal-confirm-change-pass
.modal-edit-bug-report {
    &__body {
        &--status {
            label {
                span {
                    font-weight: 600;
                    color: red;
                }
            }
            display: flex;
            flex-direction: column;
        }
        &--method {
            margin-top: 15px;
            label {
                span {
                    font-weight: 600;
                    color: red;
                }
            }
        }
        &--note {
            margin-top: 15px;
        }
    }
    .btn-control {
        margin: 15px auto;
    }
}
