.table-ant {
    .ant-table-cell {
        p {
            margin: 0;
        }
    }
}

.table-custom {
    .ant-table {
        .ant-table-thead {
            .ant-table-cell {
                background: none;
                text-align: center;
                border-bottom: 1px solid #8C8C8C;

                &::before {
                    content: none !important;
                }
            }
        }

        .ant-table-tbody {

            .ant-table-cell {
                text-align: center;
                border: none;

            }

            .ant-table-row {
                &:last-child {
                    .ant-table-cell {
                        border-bottom: 1px solid #8C8C8C;
                    }
                }
            }
        }
    }

    .pagination-table {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;

        .ant-pagination-total-text {
            display: none;
        }

        .ant-pagination-options {
            display: none;
        }
    }
}

.total-record {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #8b9aa2;

    span {
        color: #000000;
    }
}

.table-custom {}