.detail-player {
    &__content {
        margin: 0 30px;
    }

    .detail-box-player {
        .table-detail {
            .table-filter__search {
                .ant-input-group {
                    width: 350px;
                }

                .ant-input-affix-wrapper {
                    border-radius: 8px !important;
                }

                button {
                    border-radius: 8px !important;
                    background-color: #2d7ff9;
                    margin-left: 15px;
                }
            }
        }
    }
}