.detail-player {
    &__content {
        margin: 0 30px;
    }

    .detail-box-player {
        .table-detail {
            .table-filter__search {
                .ant-input-group {
                    width: 350px;
                }

                .ant-input-affix-wrapper {
                    border-radius: 8px !important;
                }

                button {
                    border-radius: 8px !important;
                    background-color: #2d7ff9;
                    margin-left: 15px;
                }
            }

            .table-filter {
                &__select {
                    display: flex;

                    .select__item {
                        margin-right: 15px;
                        width: 250px;

                        .ant-select-multiple {
                            width: 100% !important;
                        }
                    }

                    .multi-item {
                        .ant-select-selection-item {
                            background: #2D7FF9;

                            &-content {
                                color: #FFFFFF;

                            }

                            &-remove {
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}