.container-type-user {
    .content {
        padding-left: 150px;
    }
    .name-user-box {
        margin-top: 10px;
        span {
            color: rgb(212, 78, 78);
        }
    }
    .note-box {
        margin-top: 10px;
    }
    .permission-box {
        margin-top: 10px;
        .ant-checkbox-group {
            border: 1px solid #d3d9dc;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            span {
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
            }
        }
        .more {
            color: rgb(212, 78, 78);
        }
    }
}
