@import "./pages/index";
@import "./components/index";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro" !important;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.status-actived {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #187c0a;
    background: #93e088;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
}

.status-not-active {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #969117;
    background: #ffdc61;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
}

.status-error {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #7C330A;
    background: #FF7875;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
}

.content-wrapper {
    background-color: #ffffff !important;
}

.ant-modal-mask {
    background-color: rgba(196, 196, 196, 0.1) !important;
}